@model MeuEcommerce.Models.CheckoutIndexViewModel
@{
    ViewBag.Title = "Index";

}

@*@foreach (var item in Model.Produtos)
    {



    }*@

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td> Nome </td>
            <td> Quantidade </td>
            <td> Preco Unitario </td>
            <td> Total </td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Carrinho.Itens)

        {
        <tr>
        <td> @item.Value.NomeProduto </td>
        <td><a href="/checkout/IncrementaItem/@item.Key" class="btn btn-primary btn-sm"> + </a> @item.Value.Qtd <a href="/checkout/DecremtaItem/@item.Key" class="btn btn-primary btn-sm"> - </a> <a href="/checkout/RemoveItem/@item.Key" class="btn btn-danger btn-sm"> delete </a></td>
        <td> BTC @item.Value.PrecoTotal.ToString("N2") </td>
        <td> BTC @item.Value.PrecoUnidade.ToString("N2") </td>
        </tr>

    }
        
        </tbody>
    </table>

<a href="/checkout/CompraRealizada" class="btn btn-sm btn-sm"> Checkout</a>              
<a href="/checkout/Limpar" class="btn btn-danger btn-sm"> Limpar Carrinho</a>